<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css -->
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->
  <title>Gitlab CI for Drupal - Reports dashboard</title>
</head>

<body>
  
  {{> ../templates/action }}

  <aside>
    {{> ../templates/sidenav_filled }}
  </aside>

  <main id="content">
    <!-- jobs={ {{#jobs}}{"{{id}}":"{{status}}"},{{/jobs}} } -->
    <div id="main" class="hide">
      <!-- Content -->
    </div>
    
    <div class="iframe-container">
      <iframe id="report" frameBorder="0"></iframe>
    </div>
  </main>

  <script class="template" id="home" type="text/template">
    {{> ../templates/home }}
  </script>
  <script class="template" id="about" type="text/template">
    {{> ../templates/about }}
  </script>

  <!-- build:js -->
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->

  <script type="text/javascript">
    const dataJobs={ {{#jobs}}"{{id}}": {"status": "{{status}}", "duration": "{{duration}}"}, {{/jobs}} };
    const dataDirs=[{{#dirs}}"{{.}}",{{/dirs}}[]];
  </script>
</body>

</html>