<ul id="sidenav" class="sidenav sidenav-fixed">
  <li><a class="static waves-effect" href="#home"><i class="tiny material-icons">home</i>Home</a></li>
  <li>
    <div class="divider"></div>
  </li>

    <li>
      <a class="job waves-effect" data-job="security" data-report="reports/report-security/security.txt">
        <i class="tiny right material-icons job-status">help_outline</i>Security
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="phpunit_unit-kernel" data-report="reports/report-phpunit_unit-kernel/phpunit.html">
        <i class="tiny right material-icons job-status">help_outline</i>PHPunit: Unit - Kernel
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="phpunit_unit-kernel" data-report="reports/report-phpunit_unit-kernel/coverage-html&#x2F;index.html">
        <i class="tiny right material-icons job-status">help_outline</i>PHPunit: Coverage
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="phpunit_functional" data-report="reports/report-phpunit_functional/phpunit.html">
        <i class="tiny right material-icons job-status">help_outline</i>PHPunit: Functional
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="phpunit_functionaljs" data-report="reports/report-phpunit_functionaljs/phpunit.html">
        <i class="tiny right material-icons job-status">help_outline</i>PHPunit: Functional Js
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="metrics" data-report="reports/report-metrics/phpmetrics&#x2F;index.html">
        <i class="tiny right material-icons job-status">help_outline</i>Metrics: Phpmetrics
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="metrics" data-report="reports/report-metrics/phploc.html">
        <i class="tiny right material-icons job-status">help_outline</i>Metrics: Phploc
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="metrics" data-report="reports/report-metrics/pdepend.html">
        <i class="tiny right material-icons job-status">help_outline</i>Metrics: Pdepend
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="php-qa" data-report="reports/report-php-qa/phpcpd.html">
        <i class="tiny right material-icons job-status">help_outline</i>QA: Phpcpd
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="php-qa" data-report="reports/report-php-qa/phpcs.html">
        <i class="tiny right material-icons job-status">help_outline</i>QA: Phpcs
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="php-qa" data-report="reports/report-php-qa/phpmd.html">
        <i class="tiny right material-icons job-status">help_outline</i>QA: Phpmd
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="php-qa" data-report="reports/report-php-qa/phpstan.html">
        <i class="tiny right material-icons job-status">help_outline</i>QA: Phpstan
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="lint_js" data-report="reports/report-lint_js/eslint.html">
        <i class="tiny right material-icons job-status">help_outline</i>Lint: Javascript
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="lint_css" data-report="reports/report-lint_css/lint_css.txt">
        <i class="tiny right material-icons job-status">help_outline</i>Lint: Css
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="lint_twig" data-report="reports/report-lint_twig/lint_twig.txt">
        <i class="tiny right material-icons job-status">help_outline</i>Lint: Twig
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="nightwatchjs" data-report="reports/report-nightwatchjs/nightwatch.html">
        <i class="tiny right material-icons job-status">help_outline</i>Nightwatch
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="behat" data-report="reports/report-behat/index.html">
        <i class="tiny right material-icons job-status">help_outline</i>Behat
      </a>
    </li>
    <li>
      <a class="job waves-effect" data-job="accessibility_pa11y" data-report="reports/report-accessibility_pa11y/pa11y.txt">
        <i class="tiny right material-icons job-status">help_outline</i>Pa11y
      </a>
    </li>

  <li>
    <div class="divider"></div>
  </li>
  <li><a class="static waves-effect" href="#about"><i class="tiny material-icons">help_outline</i>About</a></li>
</ul>